body {
		min-height: 100vh;
		margin: 0;
		padding: 0;

		background-color: #282c34;

		font-family: 'SST', sans-serif;
}

.App {
		text-align: center;
}

.App-header {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;

		font-size: calc(10px + 2vmin);
		color: white;
}

.App-link {
		color: #61dafb;
}

.movies-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 2%;

		width: 80%;

		/* border: 5px solid indigo; */
}

.movies-item {
		list-style: none;
}

.movies-item p {
		font-size: 1.2rem;
}

img {
		width: 90%;

		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.363);
		border-radius: 2px;

		aspect-ratio: 9 / 16;
}

h2, h4 {
		margin: 0;
}

h2 {
		margin: 50px 0 20px;
}

h4 {
		margin: 10px 0 40px;

		text-transform: capitalize;
}

h4::before {
		content: '- ';
}

h4::after {
		content: ' -';
}
